{
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.hbs"],
      "options": {
        "parser": "angular",
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": false,
        "singleAttributePerLine": true
      }
    }
  ]
}
