.multi-select-section {
  .multi-select {
    position: relative;
    width: 100%;

    .multi-select-trigger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      cursor: pointer;
    }

    .multi-select-value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .multi-select-dropdown {
      background: var(--multiselect-background);
      border: 1px solid var(--multiselect-border);

      &[popover] {
        min-width: fit-content;
        position: fixed;
        inset: auto;
        margin: 0;
        max-height: 300px;
        overflow-y: auto;
        z-index: 100;
      }
    }

    button:hover {
      background: var(--multiselect-hover-background);
      border: 1px solid var(--multiselect-hover-border);
      color: var(--multiselect-hover-color);
    }

    .multi-select-option {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 5px;
      cursor: pointer;

      > input {
        margin: 0;

        &::before {
          color: var(--multiselect-border);
        }

        &:checked::after {
          color: var(--multiselect-checked-color);
        }
      }
    }
  }

  .multi-select-group {
    &:not(:last-child) {
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--color-border-light-2);
    }

    .multi-select-group-label {
      padding: 4px 8px;
      font-size: 0.8rem;
      font-weight: 700;
      text-transform: uppercase;
      opacity: 0.7;
    }

    .multi-select-group-options {
      display: flex;
      flex-direction: column;
    }
  }
}
