.actor.sheet, .item.sheet {
  .prose-mirror-section {
    height: stretch;
    min-height: 200px;

    .prose-mirror-header {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    prose-mirror.editor {
      border: 1px solid var(--prosemirror-wod6e-border);
      background: var(--prosemirror-wod6e-background);
      border-radius: 4px;
      height: 100%;

      .editor-content {
        padding: 0 3px 0 3px;
        height: 100%;
        overflow-y: auto;
        word-break: break-word;
        overflow: hidden auto;
      }

      &:hover,
      &:focus-within {
        border-color: var(--color-border-highlight);
      }
    }
  }
}
