.actor.sheet {
  .section.tab.active {
    &[data-tab='actions'] {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-content: start;
      gap: 35px 10px;

      .action-group {
        min-width: 0;
      }
    }
  }
}
