.actor.sheet {
  .sheet-settings {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .biography-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    min-height: 0;
  }

  .actor-limited-sheet {
    display: grid;
    grid-template-columns: 180px minmax(0, 1fr);
    gap: 16px;

    .actor-avatar {
      width: 180px;
      height: 180px;
      object-fit: cover;
      background-color: var(--image-background-color);
    }
  }
}
