/* Variables */
:root {
  --system-color-1: #302d5bf0;
  --system-color-2: #d2dfebf0;
  --system-color-3: #827dcaf0;
  --system-color-4: #ededec;
  --system-color-5: #000;
  --system-color-6: #fff;
  --system-color-7: #333;
  --system-color-8: #c4c4c4;
  --system-color-9: #e02b2b;
  --system-color-10: #4b4b4b;
  --system-color-11: #181818;

  --base-theme-filter: rgb(24 51 103 / 50%);

  --tracker-background: #d8eaf4;
  --tracker-text: #24475e;
  --tracker-border: #41667e;
  --tracker-filled: #41667e;
  --tracker-disabled: #24475e;
}

#pause {
  figcaption {
    color: var(--system-color-8)
  }
}
