/* Variables */
.game.theme-light {
  // Trackers
  --tracker-background: #d8eaf4;
  --tracker-text: #000;
  --tracker-border: #000;
  --tracker-filled: #000;
  --tracker-disabled: #000000de;
  --tracker-disabled-dark: #fff;

  // Fields
  --modified-color: rgb(138, 117, 0);
  --multiselect-background: #d5cbab;
  --multiselect-border: #000;
  --multiselect-hover-background: #ffffff18;
  --multiselect-hover-border: #000;
  --multiselect-hover-color: #020202;
  --multiselect-checked-border: #CCC;
  --multiselect-checked-color: #fd0000;

  // ProseMirror
  --prosemirror-wod6e-background: rgba(0, 0, 0, 0.05);
  --prosemirror-wod6e-border: #020202;

  // Applications
  --compendium-browser-footer-background: #CCC;
  --resource-adjust-color: #000;
  --quickening-color: #6e4e0d;
  --quickening-filled: #e9c96b;
  --quickening-empty: rgba(214, 167, 74, 0.2);
  --drama-color: #470505;

  // Humanity tracker
  --humanity-border: #000;
  --humanity-text: #000;
  --humanity-filled: #000;
  --humanity-empty: rgb(65 102 126 / 14%);
  --humanity-hover: rgb(65 102 126 / 28%);

  .actor.sheet {
    .attribute-group-fields {
      background-image: url(/ui/parchment.jpg);
    }
  }

  .resource-tracker-space {
    &::before {
      background: var(--tracker-disabled);
    }

    &::after {
      background: var(--tracker-disabled);
    }
  }
}
