:root {
  // General system colours
  --system-color-1: #302d5bf0;
  --system-color-2: #d2dfebf0;
  --system-color-3: #827dcaf0;
  --system-color-4: #ededec;
  --system-color-5: #000;
  --system-color-6: #fff;
  --system-color-7: #333;
  --system-color-8: #c4c4c4;
  --system-color-9: #e02b2b;
  --system-color-10: #4b4b4b;
  --system-color-11: #181818;
}
