:root {
  --vampire-color-1: #650202;
  --vampire-color-2: #d84343;
  --vampire-color-3: #f51f1f;
  --coterie-group-header: rgb(121 8 19 / 80%);
}

/* Vampire Actor Sheet */
.actor.sheet.vampire {
  .window-content {
    display: grid;
    grid-template-columns:
      minmax(240px, 1fr)
      minmax(180px, 0.7fr)
      minmax(260px, 1fr);

    grid-template-areas:
      "navigation navigation navigation"
      "header header header"
      "attributes attributes attributes"
      "vitae vitae willpower"
      "humanity humanity humanity"
      "skills avatar lifepaths"
      "skills avatar clan-traits"
      "resources items merits"
      "resources items flaw"
      "disciplines disciplines nature"
      "disciplines disciplines beast";
  }
}

.wod6e.actor.vampire .tab:not(.active) {
  display: none;
}

[data-application-part="tabs"] {
  grid-area: navigation;
  max-height: fit-content;
}

[data-application-part="header"] {
  grid-area: header;
}

[data-application-part="attributes"] {
  grid-area: attributes;
}

[data-application-part="skills"] {
  grid-area: skills;
}

[data-application-part="disciplines"] {
  grid-area: disciplines;
}

[data-application-part="settings"] {
  grid-column: 1 / -1;
}
