.roll-dialog {
  overflow: visible;

  .roll-dialog-header {
    text-align: center;

    .roll-pool {
      font-size: 16pt;
      font-weight: bold;
    }

    .difficulty-section input {
      width: 35px;
      text-align: center;
    }
  }

  .roll-dialog-side-panel {
    position: absolute;
    right: -250px;
    top: 0;
    max-width: 325px;
    border: 1px solid;
    padding: 10px;

    h3 {
      margin: 0 0 8px;
      padding-bottom: 4px;
    }

    section + section {
      margin-top: 16px;
    }

    select {
      width: 100%;
    }
  }

  .roll-condition-effect {
    align-items: center;
    display: grid;
    gap: 2px 6px;
    grid-template-columns: auto 1fr auto;
    padding: 5px 0;

    small {
      grid-column: 2 / -1;
    }

    &.not-applicable {
      opacity: 0.65;
    }
  }

  .condition-effect-modifier {
    font-weight: bold;
  }

  .roll-panel-empty {
    font-style: italic;
    opacity: 0.7;
  }
}
