@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/martel/v12/PN_xRfK9oXHga0XtYQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/martel/v12/PN_yRfK9oXHga0XVwe4ahQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v51/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuaabWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v51/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v51/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWub2bWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/amarante/v30/xMQXuF1KTa6EvGx9bq-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v30/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DJGWmmZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v30/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DJ0WmmZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v30/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DKYXWmZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v30/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DKhXWmZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v30/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df2MHGuGQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v30/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df2AnGuGQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v30/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df27nauGQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v30/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df213auGQ.ttf) format('truetype');
}
/* Pause */
#pause {
  background: none;
}
#pause img {
  position: absolute;
}
#pause figcaption {
  margin-top: 150px;
  font-weight: bold;
}

/* Variables */
:root {
  --system-color-1: #302d5bf0;
  --system-color-2: #d2dfebf0;
  --system-color-3: #827dcaf0;
  --system-color-4: #ededec;
  --system-color-5: #000;
  --system-color-6: #fff;
  --system-color-7: #333;
  --system-color-8: #c4c4c4;
  --system-color-9: #e02b2b;
  --system-color-10: #4b4b4b;
  --system-color-11: #181818;
  --base-theme-filter: rgba(24, 51, 103, 0.5);
}
#pause figcaption {
  color: var(--system-color-8);
}

/* Vampire Actor Sheet */
.actor.sheet.vampire .window-content {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: minmax(300px, 1fr) minmax(50px, 1fr) minmax(300px, 1fr);
  grid-template-areas: "navigation navigation navigation" "header header header" "attributes attributes attributes" "resources resources resources" "humanityScale humanityScale humanityScale" "leftColumn middleColumn rightColumn" "leftColumn middleColumn rightColumn" "leftColumn middleColumn rightColumn" "leftColumn middleColumn rightColumn" "leftColumn middleColumn rightColumn" "disciplines disciplines rightColumn";
  padding: 0;
}
[data-application-part="humanityScale"] {
  grid-area: humanityScale;
}
[data-application-part="disciplines"] {
  grid-area: disciplines;
}

:root {
  --vampire-color-1: #650202;
  --vampire-color-2: #d84343;
  --vampire-color-3: #f51f1f;
  --coterie-group-header: rgba(121, 8, 19, 0.8);
}

.actor.sheet {
  min-width: 715px;
}

.actor.sheet .sheet-field {
  display: flex;
  align-items: center;
  min-height: 1.7rem;
  border-bottom: 1px solid;
}
.actor.sheet .sheet-field label {
  margin-right: 0.25rem;
  font-weight: 600;
  white-space: nowrap;
}
.actor.sheet .sheet-field input {
  flex: 1;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
}

.game.theme-light .actor.sheet .attribute-group-fields {
  background-image: url(/ui/parchment.jpg);
}
.game.theme-dark .actor.sheet .attribute-groups {
  background: #414141;
}
.actor.sheet .sheet-part {
  padding-left: var(--spacer-16);
  padding-right: var(--spacer-16);
}
.actor.sheet .tab:not(.active) {
  display: none;
}
.actor.sheet [data-application-part="header"] {
  grid-area: header;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(90px, 0.3fr) minmax(300px, 1fr);
}
.actor.sheet [data-application-part="header"] .middle-header img {
  padding: var(--spacer-16);
  margin-left: auto;
  margin-right: auto;
}
.actor.sheet [data-application-part="header"] .left-header,
.actor.sheet [data-application-part="header"] .right-header,
.actor.sheet [data-application-part="header"] .middle-header {
  padding-bottom: 0;
}
.actor.sheet [data-application-part="tabs"] {
  grid-area: navigation;
  max-height: fit-content;
}
.actor.sheet [data-application-part="resources"] {
  grid-area: resources;
  display: grid;
  grid-template-columns: minmax(260px, 1fr) minmax(260px, 1fr);
}
.actor.sheet [data-application-part="attributes"] {
  grid-area: attributes;
  margin-top: -50px;
}
.actor.sheet [data-application-part="attributes"] .attributes-title {
  margin: 0;
  font-size: 16pt;
  text-align: center;
  text-transform: uppercase;
}
.actor.sheet [data-application-part="attributes"] .attribute-groups {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  overflow: hidden;
  background: #000;
}
.actor.sheet [data-application-part="attributes"] .attribute-groups .attribute-group {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  min-width: 0;
}
.actor.sheet [data-application-part="attributes"] .attribute-groups .attribute-group-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15pt;
  line-height: 0.6;
  text-align: center;
  text-transform: uppercase;
  color: #CCC;
  padding: 5px;
}
.actor.sheet [data-application-part="attributes"] .attribute-group-fields {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 5.5rem;
  border-radius: 20px 20px 0 0;
  background: var(--background);
}
.actor.sheet [data-application-part="attributes"] .attribute-field {
  display: grid;
  grid-template-rows: 2.5rem auto;
  align-items: center;
  justify-items: center;
  min-width: 0;
  margin: 0;
  padding: 0 0.2rem;
  cursor: pointer;
}
.actor.sheet [data-application-part="attributes"] .attribute-field .attribute-value {
  width: 100%;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  box-shadow: none;
  font-family: inherit;
  font-size: 1.45rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-align: center;
  appearance: textfield;
}
.actor.sheet [data-application-part="attributes"] .attribute-field .attribute-label {
  width: 100%;
  overflow: hidden;
  font-size: 10pt;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
.actor.sheet [data-application-part="leftColumn"] {
  grid-area: leftColumn;
}
.actor.sheet [data-application-part="middleColumn"] {
  grid-area: middleColumn;
}
.actor.sheet [data-application-part="rightColumn"] {
  grid-area: rightColumn;
}
.actor.sheet [data-application-part="settings"] {
  grid-column: 1 / -1;
}
